<template>
    <div>
        <a class="nav-link dropdown-toggle arrow-none waves-effect waves-light" 
            data-toggle="dropdown" 
            href="#"
            role="button" aria-haspopup="false" aria-expanded="false"
        >
            <i class="mdi mdi-bell noti-icon"></i>
            <span class="badge badge-pill badge-info noti-icon-badge" v-if="notifications.length">{{ notifications.length }}</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg">
            <template v-if="notifications.length > 0">
                <h6 class="dropdown-item-text">Notifications ({{ notifications.length }})</h6>
                <template>
                    <a  v-for="(notification) in notifications" :key="notification.id" 
                        :href="itemBaseUrl+'?id='+notification.id" 
                        class="dropdown-item notify-item active"
                        :title="notification.data.message"
                    >
                        <div v-if="notification.data.category == 'parts order'" class="notify-icon bg-success">
                            <i class="mdi mdi-cart-outline"></i>
                        </div>
                        <div v-else-if="notification.data.category == 'ticket'" class="notify-icon bg-warning">
                            <i class="mdi mdi-ticket-account"></i>
                        </div>
                        <div v-else-if="notification.data.category == 'message'" class="notify-icon bg-primary">
                            <i class="mdi mdi-message"></i>
                        </div>
                        <div v-else-if="notification.data.category == 'password reset'" class="notify-icon bg-secondary">
                            <i class="mdi mdi-key-change"></i>
                        </div>
                    
                        <p class="notify-details">
                            {{ notification.data.category }}
                            <span class="text-muted">{{ notification.data.message }}</span>
                        </p>
                    </a>
                </template>
            </template>
            <template v-else>
                <h6 class="dropdown-item-text">No Notification</h6>
            </template>
            <a :href="viewAll" class="dropdown-item text-center text-primary">
                View all <i class="fi-arrow-right"></i>
            </a>
        </div>
    </div>
</template>

<script>
    import Axios from 'axios';

    export default {
        props: {
            url: {
                type: String,
                require: true
            },
            viewAll: {
                type: String,
                require: true
            },
            itemBaseUrl: {
                type: String,
                require: true,
            }
        },
        data() {
            return {
                notifications: [],
                loading: false,
                error: null,
            }
        },
        methods: {
            getNotifications() {
                this.loading = true;
                Axios.get(this.url)
                    .then(({data})=> {
                        this.notifications = data.data;
                    })
                    .catch(error => {
                        console.log(error.response);
                    })
                    .finally(() => {
                        this.loading = false;
                    });
            }
        },
        mounted() {
            this.getNotifications();
        }
    }
</script>

<style>

</style>