:root {
    --primary-color: #f16c69;
    --disabled-primary-color: #f48582;
    --md-chip-height: 32px;
    --md-chip-color: #e0e0e0;
}

body {
    background: #e3e3e3 !important;
}

.card > .card-header {    
    background-color: rgba(100, 100, 100, 0.01);
}

.page-title-box {
    background-image: url("../images/daylight.jpg");
    background-position: right top;
}

.page-title-box-white {
    color: #9fabb7 !important;
}

.page-title-box-white .breadcrumb a {
    color: #9fabb7 !important;
}

.page-title-box-white .breadcrumb .active {
    color: rgba(161, 167, 172, 0.6) !important;
}

.breadcrumb > li + li::before {
    padding: 0 5px;
    padding-right: 5px;

    /* color: #949a9e; */
    color: #9fabb7 !important;
    content: "\F142" !important;

    /* font-family: "Font Awesome 5 Brands" !important; */
    font-family: "Material Design Icons" !important;
}

.bg-black-50 {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.btn-primary.disabled, .btn-primary:disabled {
    background-color: var(--disabled-primary-color) !important;
    border-color: var(--disabled-primary-color) !important;
}

.modal.fade {
    opacity: 1;
}

.modal.fade .modal-dialog {
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    transform: translate(0);
}

.col-action {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
}

.modal-backdrop .alert-primary {
    background-color: transparent !important;
}

.card-title {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1.75rem;
    margin: 0;
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 1.75;
}

.card-options {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-left: 1.25rem;
}

.btn-block-option {
    display: inline-block;
    padding: 6px 5px;
    line-height: 1;
    color: var(--primary-color);
    background: 0 0;
    border: none;
    cursor: pointer;
}

.card-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    padding: .75rem 1.25rem;
    transition: opacity .25s ease-out;
}

.action.dropdown-toggle::after {
    display: none;
}

.avatar__holder {
    width: 140px;
    height: 140px;
    border-radius: 3px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #efefef;

    /* -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.1),0 2px 5px rgba(0,0,0,.15);
    box-shadow: 0 2px 3px rgba(0,0,0,.1),0 2px 5px rgba(0,0,0,.15); */
}

.avatar__upload {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    right: -10px;
    top: -10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    color: var(--primary-color);
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 2px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 2px 5px rgba(0, 0, 0, 0.15);
    -webkit-transition: all .3s;
    transition: all .3s;
}

.avatar__container {
    position: relative;
    display: inline-block;
}

.avatar__upload input {
    width: 0 !important;
    height: 0 !important;
    overflow: hidden;
    opacity: 0;
}

.avatar__container .avatar__cancel {
    display: none;
}

.avatar__cancel {
    display: flex;
    cursor: pointer;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: auto;
    right: -10px;
    bottom: -5px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #fff;
    -webkit-box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid var(--primary-color);
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}

/* material bootstrap abstraction */
.form-check {
    position: relative;
    display: block;
    padding-left: 1.25rem;
}

.form-check-inline {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 0;
    margin-right: 0.75rem;
}

.form-check-inline .form-check-input {
    position: static;
    margin-top: 0;
    margin-right: .3125rem;
    margin-left: 0;
}

.form-check-input {
    position: absolute;
    margin-top: .3rem;
    margin-left: -1.25rem;
}

.form-check-input:disabled ~ .form-check-label {
    color: #6c757d;
}

.form-check-label {
    margin-bottom: 0;
}

.form-check-inline {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 0;
    margin-right: 0.75rem;
}

.form-check-inline .form-check-input {
    position: static;
    margin-top: 0;
    margin-right: .3125rem;
    margin-left: 0;
}

[type=radio]:checked,
[type=radio]:not(:checked) {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.form-check-input[type=radio]:checked + label,
.form-check-input[type=radio]:not(:checked) + label,
label.btn input[type=radio]:checked + label,
label.btn input[type=radio]:not(:checked) + label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 1.5625rem;
    line-height: 1.5625rem;
    -webkit-transition: .28s ease;
    -o-transition: .28s ease;
    transition: .28s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form-check-input[type=radio] + label:after,
.form-check-input[type=radio] + label:before,
label.btn input[type=radio] + label:after,
label.btn input[type=radio] + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 16px;
    height: 16px;
    z-index: 0;
    -webkit-transition: .28s ease;
    -o-transition: .28s ease;
    transition: 0.28s ease;
}

.form-check-input[type=radio].with-gap:checked + label:after,
.form-check-input[type=radio].with-gap:checked + label:before,
.form-check-input[type=radio]:checked + label:after,
.form-check-input[type=radio]:checked + label:before,
.form-check-input[type=radio]:not(:checked) + label:after,
.form-check-input[type=radio]:not(:checked) + label:before,
label.btn input[type=radio].with-gap:checked + label:after,
label.btn input[type=radio].with-gap:checked + label:before,
label.btn input[type=radio]:checked + label:after,
label.btn input[type=radio]:checked + label:before,
label.btn input[type=radio]:not(:checked) + label:after,
label.btn input[type=radio]:not(:checked) + label:before {
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.form-check-input[type=radio]:not(:checked) + label:after,
.form-check-input[type=radio]:not(:checked) + label:before,
label.btn input[type=radio]:not(:checked) + label:after,
label.btn input[type=radio]:not(:checked) + label:before {
    border: 2px solid #5a5a5a;
}

.form-check-input[type=radio]:not(:checked) + label:after,
label.btn input[type=radio]:not(:checked) + label:after {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.form-check-input[type=radio]:checked + label:before,
label.btn input[type=radio]:checked + label:before {
    border: 2px solid transparent;
}

.form-check-input[type=radio].with-gap:checked + label:after,
.form-check-input[type=radio].with-gap:checked + label:before,
.form-check-input[type=radio]:checked + label:after,
label.btn input[type=radio].with-gap:checked + label:after,
label.btn input[type=radio].with-gap:checked + label:before,
label.btn input[type=radio]:checked + label:after {
    border: 2px solid #f16c69;
}

.form-check-input[type=radio].with-gap:checked + label:after,
.form-check-input[type=radio]:checked + label:after,
label.btn input[type=radio].with-gap:checked + label:after,
label.btn input[type=radio]:checked + label:after {
    background-color: #f16c69;
}

.form-check-input[type=radio]:checked + label:after,
label.btn input[type=radio]:checked + label:after {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
}

.form-check-input[type=radio].with-gap:checked + label:after,
label.btn input[type=radio].with-gap:checked + label:after {
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
}

.form-check-input[type=radio].with-gap:disabled:checked + label:before,
label.btn input[type=radio].with-gap:disabled:checked + label:before {
    border: 2px solid rgba(0, 0, 0, 0.46);
}

.form-check-input[type=radio].with-gap:disabled:checked + label:after,
label.btn input[type=radio].with-gap:disabled:checked + label:after {
    border: none;
    background-color: rgba(0, 0, 0, 0.46);
}

.form-check-input[type=radio]:disabled:checked + label:before,
.form-check-input[type=radio]:disabled:not(:checked) + label:before,
label.btn input[type=radio]:disabled:checked + label:before,
label.btn input[type=radio]:disabled:not(:checked) + label:before {
    background-color: transparent;
    border-color: rgba(0, 0, 0, 0.46);
}

.form-check-input[type=radio]:disabled + span,
label.btn input[type=radio]:disabled + span {
    color: rgba(0, 0, 0, 0.46);
}

.form-check-input[type=radio]:disabled:not(:checked) + span:before,
label.btn input[type=radio]:disabled:not(:checked) + span:before {
    border-color: rgba(0, 0, 0, 0.46);
}

.form-check-input[type=radio]:disabled:checked + span:after,
label.btn input[type=radio]:disabled:checked + span:after {
    background-color: rgba(0, 0, 0, 0.46);
    border-color: #bdbdbd;
}

[type=checkbox]:checked,
[type=checkbox]:not(:checked) {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.form-check-input[type=checkbox] + label,
label.btn input[type=checkbox] + label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 1.5625rem;
    line-height: 1.5625rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form-check-input[type=checkbox] + label:before,
.form-check-input[type=checkbox]:not(.filled-in) + label:after,
label.btn input[type=checkbox] + label:before,
label.btn input[type=checkbox]:not(.filled-in) + label:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 2px solid #8a8a8a;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    margin-top: 3px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: 0.2s;
}

.form-check-input[type=checkbox]:not(.filled-in) + label:after,
label.btn input[type=checkbox]:not(.filled-in) + label:after {
    border: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.form-check-input[type=checkbox]:not(:checked):disabled + label:before,
label.btn input[type=checkbox]:not(:checked):disabled + label:before {
    border: none;
    background-color: #bdbdbd;
}

.form-check-input[type=checkbox]:checked + label:before,
label.btn input[type=checkbox]:checked + label:before {
    top: -4px;
    left: -5px;
    width: 12px;
    height: 1.375rem;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #f16c69;
    border-bottom: 2px solid #f16c69;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.form-check-input[type=checkbox]:checked:disabled + label:before,
label.btn input[type=checkbox]:checked:disabled + label:before {
    border-right: 2px solid #bdbdbd;
    border-bottom: 2px solid #bdbdbd;
}

.form-check-input[type=checkbox]:indeterminate + label:before,
label.btn input[type=checkbox]:indeterminate + label:before {
    top: -11px;
    left: -12px;
    width: 10px;
    height: 1.375rem;
    border-top: none;
    border-left: none;
    border-right: 2px solid #f16c69;
    border-bottom: none;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.form-check-input[type=checkbox]:indeterminate:disabled + label:before,
label.btn input[type=checkbox]:indeterminate:disabled + label:before {
    border-right: 2px solid rgba(0, 0, 0, 0.46);
    background-color: transparent;
}

.form-check-input[type=checkbox].filled-in + label:after,
label.btn input[type=checkbox].filled-in + label:after {
    -webkit-border-radius: .125rem;
    border-radius: 0.125rem;
}

.form-check-input[type=checkbox].filled-in + label:after,
.form-check-input[type=checkbox].filled-in + label:before,
label.btn input[type=checkbox].filled-in + label:after,
label.btn input[type=checkbox].filled-in + label:before {
    content: '';
    left: 0;
    position: absolute;
    -webkit-transition: border .25s, background-color .25s, width .2s .1s, height .2s .1s, top .2s .1s, left .2s .1s;
    -o-transition: border .25s, background-color .25s, width .2s .1s, height .2s .1s, top .2s .1s, left .2s .1s;
    transition: border .25s, background-color .25s, width .2s .1s, height .2s .1s, top .2s .1s, left .2s .1s;
    z-index: 1;
}

.form-check-input[type=checkbox].filled-in:not(:checked) + label:before,
label.btn input[type=checkbox].filled-in:not(:checked) + label:before {
    width: 0;
    height: 0;
    border: 3px solid transparent;
    left: 6px;
    top: 10px;
    -webkit-transform: rotateZ(37deg);
    -ms-transform: rotate(37deg);
    transform: rotateZ(37deg);
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.form-check-input[type=checkbox].filled-in:not(:checked) + label:after,
label.btn input[type=checkbox].filled-in:not(:checked) + label:after {
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 2px solid #5a5a5a;
    top: 0;
    z-index: 0;
}

.form-check-input[type=checkbox].filled-in:checked + label:before,
label.btn input[type=checkbox].filled-in:checked + label:before {
    top: 0;
    left: 1px;
    width: 8px;
    height: 13px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotateZ(37deg);
    -ms-transform: rotate(37deg);
    transform: rotateZ(37deg);
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.form-check-input[type=checkbox].filled-in:checked + label:after,
label.btn input[type=checkbox].filled-in:checked + label:after {
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #a6c;
    background-color: #a6c;
    z-index: 0;
}

.form-check-input[type=checkbox].filled-in.filled-in-danger:checked + label:after,
label.btn input[type=checkbox].filled-in.filled-in-danger:checked + label:after {
    background-color: #f44336;
    border-color: #f44336;
}

.form-check-input[type=checkbox]:disabled:not(:checked) + label:before,
label.btn input[type=checkbox]:disabled:not(:checked) + label:before {
    background-color: #bdbdbd;
    border-color: #bdbdbd;
}

.form-check-input[type=checkbox]:disabled:not(:checked) + label:after,
label.btn input[type=checkbox]:disabled:not(:checked) + label:after {
    border-color: #bdbdbd;
    background-color: #bdbdbd;
}

.form-check-input[type=checkbox]:disabled:checked + label:before,
label.btn input[type=checkbox]:disabled:checked + label:before {
    background-color: transparent;
}

.form-check-input[type=checkbox]:disabled:checked + label:after,
label.btn input[type=checkbox]:disabled:checked + label:after {
    background-color: #bdbdbd;
    border-color: #bdbdbd;
}

.md-chip {
    display: inline-block;
    background: var(--md-chip-color);
    padding: 0 12px;
    border-radius: 32px;
    font-size: 13px;

    /* box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); */
    cursor: pointer;
}

.md-chip:hover {
    color: #666;
}

.drop_upload {
    width: 100%;
    border: 2px dashed #999;
    background: #fff;
    min-height: 100px;
    border-radius: 3px;
    position: relative;
}

.drop_upload > input[type=file] {
    display: none;
    opacity: 0;
}

.drop_upload .container {
    padding-right: 4px;
    padding-left: 4px;
}

.drop_upload .hero_text {
    font-weight: 400;
    line-height: 1.6;
    font-size: 1.5em;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #999;
    padding: 6px;
}

.drop_upload .files {
    width: 96%;
    text-align: left;
    list-style: none;
    overflow: auto;
    margin-bottom: 25px;
}

.drop_upload .files li {
    min-width: 100px;
    display: inline-block;
    float: left;
    font-family: "Raleway";
    font-size: 18px;
    color: #000000;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 5px 15px;
    text-align: center;
}

.drop_upload .files li div.thumbnail {
    width: 100px;
    height: 100px;
    border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    background-size: cover;
    margin: 0 auto;
    border: 1px solid #e1e1e1;
    overflow: hidden;
}

.drop_upload .files li div.thumbnail .hover_layer {
    width: 100px;
    height: 100px;
    border-radius: 7px;
    background: #fff;
    opacity: 0;
    position: absolute;
    -webkit-transition: opacity 0.1s ease-in;
    -moz-transition: opacity 0.1s ease-in;
    transition: opacity 0.1s ease-in;
}

.drop_upload .files li div.thumbnail:hover .hover_layer {
    opacity: .8;
    position: absolute;
    -webkit-transition: opacity 0.1s ease-in;
    -moz-transition: opacity 0.1s ease-in;
    transition: opacity 0.1s ease-in;
}

.drop_upload .files .thumbnail .title {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.drop_upload .files .thumbnail i {
    font-size: 32px;
    position: relative;
    top: calc(50% - 16px);
    color: var(--primary-color);
    display: block;
}

.swal2-styled.swal2-confirm {
    background: var(--primary-color) !important;
}
.btn-primary:active{
    background-color: var(--primary-color);
}

.star--group {
    cursor: pointer;
}

/* avatar styles */
.avatar {
  position: relative;
  display: inline-block; }

.avatar-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover; }

.avatar-title {
  width: 100%;
  height: 100%;
  background-color: #6861CE;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center; }

.avatar-online::before, .avatar-offline::before, .avatar-away::before {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 25%;
  height: 25%;
  border-radius: 50%;
  content: '';
  border: 5px solid #fff; 

}

.avatar-online::before {
  background-color: #31CE36; }

.avatar-offline::before {
  background-color: #97a2b1; }

.avatar-away::before {
  background-color: #FFAD46; }

.avatar-xs {
  width: 1.65rem;
  height: 1.65rem; }
.cursor-pointer {cursor: pointer;}

/* datatable responsive style custom */
table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child::before, table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child::before {
    top:15px;
    left: 1.5px;
    line-height: 16px;
    background-color: var(--primary-color);
}

