<template>
    <div class="text-right my-2">
        <span class="d-inline-block mr-4">
            <span class="mdi mdi-18px text-primary mr-1 like_btn" 
                :class="youLike ? 'mdi-thumb-up' : 'mdi-thumb-up-outline'"
                title="Like"
                data-toggle="tooltip"
                @click="like()"
            ></span>
            <span>{{ likers.length }}</span>
        </span>
        <span class="d-inline-block">
            <span class="mdi mdi-18px text-primary mr-1 dislike_btn" 
                :class="youDislike ? 'mdi-thumb-down' : 'mdi-thumb-down-outline'"
                title="Dislike"
                data-toggle="tooltip"
                @click="dislike()"
            ></span>
            <span>{{ dislikers.length }}</span>
        </span>
    </div>
</template>

<script>
import Axios from 'axios'
export default {
    props: {
        likeUrl: {
            type: String,
            require: true,
        },
        dislikeUrl: {
            type: String,
            require: true,
        },
        postUrl: {
            type: String,
            require: true,
        }
    },
    data() {
        return {
            likers: [],
            dislikers: [],
            post: null,
            youLike: false,
            youDislike: false,
        }
    },
    methods: {
        like() {
            Axios.post(this.likeUrl)
                .then(({data}) => {
                    this.getPost();
                })
                .catch((e) => {
                    console.log(e)
                });
        },
        dislike() {
            Axios.post(this.dislikeUrl)
                .then(({data}) => {
                    this.getPost();
                })
                .catch((e) => {
                    console.log(e);
                });
        },
        getPost() {
            Axios.get(this.postUrl)
                .then(({data}) => {
                    const d = data;
                    this.post = d;
                    this.likers = d.likers;
                    this.dislikers = d.dislikers;
                    this.youLike = d.you_like;
                    this.youDislike = d.you_dislike;
                })
                .catch((e) => {
                    console.log(e)
                });
        }
    },
    mounted() {
        this.getPost();
    }
}
</script>

<style scoped>
    .like_btn, .dislike_btn {
        cursor: pointer;
    }
</style>